.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  list-style: none;
}

.header li {
  display: inline-block;
}

.rnk {
  margin-right: 8em;
}

.nme {
  margin-right: 6em;
  margin-bottom: 1em;
}

.ranker {
  float: left;
  margin-left: 4.8em;
}

.name {
  float: left;
  margin-left: 3.5em;
  width: 12em;
  margin-bottom: 1.5em;
}

.points {
  margin-right: 4em;
  margin-bottom: 1.5em;
}

.rankBoard {
  position: absolute;
  margin-left: 4.8em;
  margin-top: 1.2em;
}

.contestant-row {
  cursor: pointer;
  transition: 0.3s;
}

.contestant-row:hover {
  background-color: limegreen;
}
