.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  list-style: none;
  margin-bottom: 2em;
}

.header li {
  display: inline-block;
  width: 33.33%;
}

.rankBoard {
  position: absolute;
  margin-left: 4.8em;
  margin-top: 1.2em;
}

.contestant-row {
  cursor: pointer;
  transition: 0.3s;
  list-style: none;
}

.contestant-row li {
  display: inline-block;
  width: 33.33%;
}

.contestant-row:hover {
  background-color: limegreen;
}

.match-contestant {
  cursor: pointer;
}

.match-contestant:hover {
  font-weight: bold;
}

.yellow {
  background: yellow;
}

@media (min-width: 320px) {
  input {
    width: 120px;
  }
}

@media (min-width: 375px) {
  input {
    width: 130px;
  }
}
