.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  list-style: none;
}

.header li {
  display: inline-block;
}

/* .rnk {
  margin-right: 8em;
}

.nme {
  margin-right: 6em;
  margin-bottom: 1em;
}

.ranker {
  float: left;
  margin-left: 4.8em;
}

.name {
  float: left;
  margin-left: 3.5em;
  width: 12em;
  margin-bottom: 1.5em;
}

.points {
  margin-right: 4em;
  margin-bottom: 1.5em;
} */

.rankBoard {
  position: absolute;
  margin-left: 4.8em;
  margin-top: 1.2em;
}

.contestant-row {
  cursor: pointer;
  transition: 0.3s;
}

.contestant-row:hover {
  background-color: limegreen;
}

.match-contestant {
  cursor: pointer;
}

.match-contestant:hover {
  font-weight: bold;
}

.yellow {
  background: yellow;
}

@media (min-width: 320px) {
  .rnk {
    float: left;
    margin-left: 2em;
  }

  .nme {
    font-size: 15px;
    float: left;
    margin-left: 1.5em;
    width: 12em;
    margin-bottom: 1.5em;
  }

  .pnts {
    margin-right: 1em;
    margin-bottom: 1.5em;
  }

  .ranker {
    float: left;
    margin-left: 2em;
  }

  .name {
    font-size: 15px;
    float: left;
    margin-left: 1.5em;
    width: 12em;
    margin-bottom: 1.5em;
  }

  .points {
    margin-right: 1em;
    margin-bottom: 1.5em;
  }

  input {
    width: 120px;
  }
}

@media (min-width: 375px) {
  .rnk {
    float: left;
    margin-left: 3.5em;
  }

  .ranker {
    float: left;
    margin-left: 3.5em;
  }

  input {
    width: 130px;
  }
}

@media (min-width: 414px) {
  .rnk {
    float: left;
    margin-left: 3.7em;
  }

  .ranker {
    float: left;
    margin-left: 3.7em;
  }

  .nme {
    width: 14em;
  }

  .name {
    width: 14em;
  }

  input {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .rnk {
    float: left;
    margin-left: 8.7em;
  }

  .nme {
    width: 27em;
  }

  .pnts {
    margin-right: 8em;
    margin-bottom: 1.5em;
  }

  .ranker {
    float: left;
    margin-left: 8.7em;
  }

  .name {
    width: 27em;
  }

  .points {
    margin-right: 8em;
    margin-bottom: 1.5em;
  }
}

@media (min-width: 1024px) {
  .rnk {
    float: left;
    margin-left: 16.8em;
  }

  .ranker {
    float: left;
    margin-left: 16.8em;
  }
}

@media (min-width: 1024px) {
}
